@charset "UTF-8";
/* CSS Document */
/* SCSS Document */
/* common params
/* 公共变量定义
/******************************************************/
/*other color
/*-----------------------------*/
/* common placeholder params
/* 公共占位符定义
/*-----------------------------*/
.banner-ani p, .star-list li:hover {
  -moz-transition: all .5s ease;
  -webkit-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
}

.sh-section .title label, .adv-list li label {
  font-family: "Arial", "Tahoma", "Verdana";
}

/* common extend params
/* 公共继承属性定义
/*-----------------------------*/
/* common function params
/* 公共函数定义
/*-----------------------------*/
/* common mixin params
/* 公共混合宏定义
/*-----------------------------*/
/* speakhi index style
/**********************************************************/
body {
  overflow-x: hidden;
}

.banner-ani {
  top: 20%;
  left: 0;
}
.banner-ani img {
  position: relative;
  left: 80%;
  bottom: 180px;
  width: 50%;
  margin: 10px auto;
  font-size: 300%;
  color: #005bac;
  animation: slideImg 1s;
  -webkit-animation: slideImg 1s;
  z-index: 1;
}
@keyframes slideImg {
  from {
    left: 200%;
  }
  to {
    left: 80%;
  }
}
@-webkit-keyframes slideImg {
  from {
    left: 200%;
  }
  to {
    left: 80%;
  }
}
.banner-ani p {
  position: relative;
  left: 30%;
  margin: 20px auto;
  font-size: 360%;
  color: #005bac;
  z-index: 2;
  animation: slideText 1s;
  -webkit-animation: slideText 1s;
}
@keyframes slideText {
  from {
    left: -100%;
  }
  to {
    left: 30%;
  }
}
.banner-ani p.p2 {
  margin-left: 100px;
}
@-webkit-keyframes slideText {
  from {
    left: -100%;
  }
  to {
    left: 30%;
  }
}
.banner-ani p.p2 {
  margin-left: 100px;
}

.banner-ani-r {
  top: 20%;
  left: 0;
}
.banner-ani-r p {
  position: relative;
  margin: 20px auto;
  font-size: 360%;
  color: #005bac;
  left: 85%;
  animation: slideTextr 1s;
  -webkit-animation: slideTextr 1s;
  z-index: 2;
}
@keyframes slideTextr {
  from {
    left: 200%;
  }
  to {
    left: 85%;
  }
}
.banner-ani-r p.p1 {
  margin-left: 100px;
}
@-webkit-keyframes slideTextr {
  from {
    left: 200%;
  }
  to {
    left: 85%;
  }
}
.banner-ani-r p.p1 {
  margin-left: 100px;
}
.banner-ani-r img {
  position: relative;
  bottom: 180px;
  width: 50%;
  margin: 10px auto;
  font-size: 300%;
  color: #005bac;
  animation: slideImg 1s;
  left: 30%;
  animation: slideImgl 1s;
  -webkit-animation: slideImgl 1s;
  z-index: 1;
}
@keyframes slideImgl {
  from {
    left: -100%;
  }
  to {
    left: 30%;
  }
}
@-webkit-keyframes slideImgl {
  from {
    left: -100%;
  }
  to {
    left: 30%;
  }
}
.mBanner-info {
  position: absolute;
  top: 25%;
  left: 5%;
  color: #005bac;
  font-size: 20px;
}
.mBanner-info .p2 {
  margin-top: 5px;
  margin-left: 20px;
}
.mBanner-info p {
  position: relative;
  animation: slidemBannerInfo .5s;
}
@keyframes slidemBannerInfo {
  from {
    left: -100%;
  }
  to {
    left: 0;
  }
}
@-webkit-keyframes slidemBannerInfo {
  from {
    left: -100%;
  }
  to {
    left: 0;
  }
}
.mBanner-info-r {
  position: absolute;
  top: 25%;
  right: 5%;
  color: #005bac;
  font-size: 20px;
  text-align: right;
}
.mBanner-info-r .p2 {
  margin-top: 5px;
  margin-right: 20px;
}
.mBanner-info-r p {
  position: relative;
  animation: slidemBannerInfor .5s;
}
@keyframes slidemBannerInfor {
  from {
    right: -100%;
  }
  to {
    right: 0;
  }
}
@-webkit-keyframes slidemBannerInfor {
  from {
    right: -100%;
  }
  to {
    right: 0;
  }
}
.sh-section {
  margin: 80px auto;
}
.sh-section .title {
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
  height: 60px;
}
.sh-section .title .wrap {
  position: relative;
  top: 10px;
  width: 168px;
  height: 40px;
  padding: 0 5px;
  border-left: 1px solid #e0e0e0;
  border-right: 1px solid #e0e0e0;
  background-color: #fff;
  text-align: center;
  -ms-transform: skew(-30deg, 0);
  /* IE 9 */
  -moz-transform: skew(-30deg, 0);
  /* Firefox */
  -webkit-transform: skew(-30deg, 0);
  /* Safari 和 Chrome */
  -o-transform: skew(-30deg, 0);
  /* Opera */
  transform: skew(-30deg, 0);
  z-index: 1;
}
.sh-section .title h1,
.sh-section .title label {
  position: relative;
  top: -15px;
  display: inline-block;
  text-align: center;
}
.sh-section .title h1 {
  left: -10px;
  *left: 0;
  left: 0\0;
  margin: 5px auto;
  font-size: 24px;
  font-weight: 100;
  color: #626262;
  -ms-transform: skew(30deg, 0);
  /* IE 9 */
  -moz-transform: skew(30deg, 0);
  /* Firefox */
  -webkit-transform: skew(30deg, 0);
  /* Safari 和 Chrome */
  -o-transform: skew(30deg, 0);
  /* Opera */
  transform: skew(30deg, 0);
}
.sh-section .title label {
  display: block;
  height: 20px;
  line-height: 20px;
  color: #fff;
  font-size: 12px;
  background-color: #005bac;
}
.sh-section .title label span {
  display: inline-block;
  -ms-transform: skew(30deg, 0);
  /* IE 9 */
  -moz-transform: skew(30deg, 0);
  /* Firefox */
  -webkit-transform: skew(30deg, 0);
  /* Safari 和 Chrome */
  -o-transform: skew(30deg, 0);
  /* Opera */
  transform: skew(30deg, 0);
}
.sh-section .title hr {
  position: absolute;
  top: 30px;
  margin: 0;
  z-index: 0;
}
.sh-section h3 {
  display: block;
  margin: 10px auto;
  text-align: center;
  font-size: 14px;
  font-weight: 100;
  color: #959595;
}
.sh-section strong {
  font-weight: 100;
}

.open-list {
  position: relative;
  height: 360px;
  margin-top: 60px;
}
.open-list li {
  position: relative;
  float: right;
  top: 55px;
  z-index: 1;
  width: 500px;
  height: 360px;
  display: inline-block;
  cursor: pointer;
  -webkit-opacity: 0.5;
  -moz-opacity: 0.5;
  -ms-opacity: 0.5;
  -o-opacity: 0.5;
  opacity: 0.5;
  filter: alpha(opacity=50);
}
.open-list li img.test {
  display: inline-block;
  box-shadow: 0 0 10px #bfbfbf;
  -webkit-box-reflect: below 0 -webkit-linear-gradient(top, rgba(250, 250, 250, 0), rgba(250, 250, 250, 0) 75%, rgba(250, 250, 250, 0.1), rgba(250, 250, 250, 0.3));
  box-reflect: below 0 -linear-gradient(top, rgba(250, 250, 250, 0), rgba(250, 250, 250, 0) 75%, rgba(250, 250, 250, 0.1), rgba(250, 250, 250, 0.3));
}
.open-list li:first-child {
  float: left;
}
.open-list li img.icon-player {
  display: none;
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 3;
  margin-left: -40px;
  margin-top: -40px;
  width: 80px;
  height: 80px;
  box-shadow: none;
}

.adv-list {
  margin-top: 60px;
}
.adv-list li {
  float: left;
  display: inline-block;
  width: 33.33%;
  *width: 32.3%;
  margin-top: 20px;
  text-align: center;
}
.adv-list li img {
  width: 90px;
  height: 100px;
}
.adv-list li h2 {
  font-size: 16px;
  color: #626262;
  font-weight: 100;
  margin-top: 10px;
}
.adv-list li h3 {
  margin: 10px auto;
  font-size: 14px;
  color: #bfbfbf;
}
.adv-list li label {
  font-size: 12px;
  color: #bfbfbf;
}
.adv-list .adv01:hover {
  animation: advAni01 .3s;
}
@keyframes advAni01 {
  50% {
    transform: skewX(-20deg);
  }
  100% {
    transform: skewX(0deg);
  }
}
.adv-list .adv02:hover {
  animation: advAni02 .3s;
}
@keyframes advAni02 {
  30% {
    transform: rotateX(40deg);
  }
  100% {
    transform: rotateX(0deg);
  }
}
.adv-list .adv03:hover {
  animation: advAni03 .3s;
}
@keyframes advAni03 {
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
.adv-list .adv04:hover {
  animation: advAni04 .3s;
}
@keyframes advAni04 {
  33% {
    transform: rotate(-20deg);
  }
  67% {
    transform: rotate(20deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
.adv-list .adv05:hover {
  animation: advAni05 .3s;
}
@keyframes advAni05 {
  50% {
    transform: rotateY(180deg);
  }
  100% {
    transform: rotateY(0deg);
  }
}
.adv-list .adv06:hover {
  animation: advAni06 .3s;
}
@keyframes advAni06 {
  50% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}
.star-info {
  margin: 50px 0 15px 300px;
}
.star-info p {
  height: 40px;
  line-height: 20px;
  text-align: left;
  font-size: 14px;
  color: #626262;
}
.star-info p b {
  font-size: 18px;
  font-weight: 100;
  vertical-align: middle;
}
.star-info p span {
  margin-right: 15px;
  vertical-align: middle;
  font-size: 20px;
  color: #f6ab00;
}

.cur-star {
  position: relative;
  float: left;
  top: 30px;
  width: 272px;
  height: 362px;
  padding-bottom: 30px;
  display: inline-block;
  border-bottom: 1px solid #e0e0e0;
}
.cur-star img {
  width: 260px;
  height: 350px;
  border: 6px solid #005bac;
}
.cur-star div {
  visibility: hidden;
}

.star-list-wrap {
  position: relative;
  margin-left: 290px;
  overflow: hidden;
  height: 290px;
}

.star-list {
  position: relative;
  width: 1000%;
  height: 280px;
  margin: 5px auto;
}
.star-list li {
  float: left;
  display: inline-block;
  width: 18%;
  width: 200px;
  width: 180px;
  margin: 0 40px 0 10px;
  text-align: center;
  cursor: pointer;
  -webkit-opacity: 0.6;
  -moz-opacity: 0.6;
  -ms-opacity: 0.6;
  -o-opacity: 0.6;
  opacity: 0.6;
  filter: alpha(opacity=60);
}
.star-list li:hover {
  box-shadow: 0 0 10px #bfbfbf;
  -webkit-opacity: 1;
  -moz-opacity: 1;
  -ms-opacity: 1;
  -o-opacity: 1;
  opacity: 1;
  filter: alpha(opacity=100);
}
.star-list li img {
  width: 200px;
  height: 222px;
  width: 180px;
  height: 250px;
}
.star-list li div {
  height: 30px;
  line-height: 30px;
  font-size: 14px;
  text-align: center;
  color: #626262;
}
.star-list li.active {
  position: relative;
  top: -130px;
  width: 272px;
  margin-left: 0;
  border-bottom: 1px solid #e0e0e0;
  cursor: default;
}
.star-list li.active:hover {
  box-shadow: none;
}
.star-list li.active img {
  width: 260px;
  height: 340px;
  border: 6px solid #005bac;
}
.star-list li.active div {
  visibility: hidden;
}

@media screen and (max-width: 1200px) {
  .banner-ani img {
    left: 85%;
  }
  @keyframes slideImg {
    from {
      left: 200%;
    }
    to {
      left: 85%;
    }
  }
  @-webkit-keyframes slideImg {
    from {
      left: 200%;
    }
    to {
      left: 85%;
    }
  }
  .banner-ani p {
    left: 20%;
    font-size: 300%;
  }
  @keyframes slideText {
    from {
      left: -100%;
    }
    to {
      left: 20%;
    }
  }
  @-webkit-keyframes slideText {
    from {
      left: -100%;
    }
    to {
      left: 20%;
    }
  }
}
@media screen and (max-width: 1024px) {
  .banner-ani-r p,
  .banner-ani p {
    font-size: 200%;
  }

  .banner-ani img,
  .banner-ani-r img {
    bottom: 120px;
  }

  .banner-ani img {
    left: 85%;
  }
  @keyframes slideImg {
    from {
      left: 200%;
    }
    to {
      left: 85%;
    }
  }
  @-webkit-keyframes slideImg {
    from {
      left: 200%;
    }
    to {
      left: 85%;
    }
  }
}
@media screen and (max-width: 820px) {
  .adv-list li {
    width: 50%;
  }
}
@media screen and (max-width: 768px) {
  .banner-ani-r p,
  .banner-ani p {
    font-size: 160%;
  }

  .banner-ani img,
  .banner-ani-r img {
    bottom: 120px;
  }
}
@media screen and (max-width: 640px) {
  .banner {
    display: none;
  }

  .mBanner {
    display: block;
  }

  .banner-ani-r p,
  .banner-ani p {
    font-size: 120%;
  }

  .banner-ani p {
    left: 10%;
    animation-name: none;
  }

  .banner-ani-r p {
    left: 75%;
  }

  .banner-ani-r p.p1,
  .banner-ani p.p2 {
    margin-left: 30px;
  }
}
@media screen and (max-width: 480px) {
  .open-list {
    height: 160px;
  }
  .open-list li {
    width: 200px;
    height: 160px;
  }
  .open-list li img.icon-player {
    width: 40px;
    height: 40px;
    margin-left: -20px;
    margin-top: -20px;
  }

  .adv-list li {
    width: 100%;
    margin: 20px 0;
  }

  .star-stu {
    display: none;
  }
}
.open-list {
  width: 70%;
  margin: 0 auto;
}

/* speakhi index style
/* student voice style img:大：255*532 小：220*460
/**********************************************************/
.sVoice-list {
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
  overflow: hidden;
  margin: 30px auto;
}
.sVoice-list .prevArrowImg,
.sVoice-list .nextArrowImg {
  position: absolute;
  left: 0;
  top: 0;
  width: 5%;
  height: 460px;
  padding: 50px 0;
  background-color: #fff;
  z-index: 1;
  cursor: pointer;
}
.sVoice-list .prevArrowImg img,
.sVoice-list .nextArrowImg img {
  width: 100%;
  max-width: 30px;
  vertical-align: middle;
  margin: 200px auto;
  display: block;
}
.sVoice-list .nextArrowImg {
  right: 0 !important;
  left: initial;
}
.sVoice-list ul {
  position: relative;
  left: 5%;
  top: 0;
  width: 100%;
  height: 460px;
  margin: 0 auto;
  padding: 50px 0;
  z-index: 0;
}
.sVoice-list ul li {
  float: left;
  display: inline-block;
  width: 220px;
  height: 460px;
  margin: 0 30px;
  -webkit-animation: scaleVoiceBack .6s forwards;
  animation: scaleVoiceBack .6s forwards;
}
.sVoice-list ul li:hover {
  -webkit-animation: scaleVoice .3s forwards;
  animation: scaleVoice .3s forwards;
}
@keyframes scaleVoiceBack {
  from {
    transform: scale(1.2);
    -ms-transform: scale(1.2);
    /* IE 9 */
    -webkit-transform: scale(1.2);
    /* Safari and Chrome */
  }
  to {
    transform: scale(1);
    -ms-transform: scale(1);
    /* IE 9 */
    -webkit-transform: scale(1);
    /* Safari and Chrome */
  }
}
@-webkit-keyframes scaleVoiceBack {
  from {
    transform: scale(1.2);
    -ms-transform: scale(1.2);
    /* IE 9 */
    -webkit-transform: scale(1.2);
    /* Safari and Chrome */
  }
  to {
    transform: scale(1);
    -ms-transform: scale(1);
    /* IE 9 */
    -webkit-transform: scale(1);
    /* Safari and Chrome */
  }
}
@keyframes scaleVoice {
  from {
    transform: scale(1);
    -ms-transform: scale(1);
    /* IE 9 */
    -webkit-transform: scale(1);
    /* Safari and Chrome */
  }
  to {
    transform: scale(1.2);
    -ms-transform: scale(1.2);
    /* IE 9 */
    -webkit-transform: scale(1.2);
    /* Safari and Chrome */
  }
}
@-webkit-keyframes scaleVoice {
  from {
    transform: scale(1);
    -ms-transform: scale(1);
    /* IE 9 */
    -webkit-transform: scale(1);
    /* Safari and Chrome */
  }
  to {
    transform: scale(1.2);
    -ms-transform: scale(1.2);
    /* IE 9 */
    -webkit-transform: scale(1.2);
    /* Safari and Chrome */
  }
}
.sVoice-list ul img {
  width: 220px;
  height: 460px;
}

/*# sourceMappingURL=sh-index-v2.css.map */
